---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Hero from '../components/hero';
import PoweredBy from '../components/powered-by';
import AboutUs from '../components/about-us';
import Calculator from '../components/calculator';
import Press from '../components/press';
import Reviews from '../components/reviews';
import QA from '../components/qa';
import ContactUs from '../components/contact-us';
---

<Layout>
    <main class="white-background">   
        <Hero client:load></Hero>
        <PoweredBy></PoweredBy>
        <AboutUs client:load></AboutUs>
        <Calculator client:load></Calculator>
        <Press client:load></Press>
        <Reviews client:load></Reviews>
        <QA client:load></QA>
        <ContactUs client:load></ContactUs>
    </main>
</Layout>
