---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Hero from '../components/hero';
import PoweredBy from '../components/powered-by';
import AboutUs from '../components/about-us';
import Calculator from '../components/calculator';
import Press from '../components/press';
import Reviews from '../components/reviews';
import QA from '../components/qa';
import ContactUs from '../components/contact-us';
---

<Layout>
    <main class="white-background">   
        <Hero></Hero>
        <PoweredBy></PoweredBy>
        <AboutUs></AboutUs>
        <Calculator></Calculator>
        <Press></Press>
        <Reviews></Reviews>
        <QA></QA>
        <ContactUs></ContactUs>
    </main>

</Layout>
