.button {
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 3);
  border-radius: calc(var(--spacing) * 4);
  text-transform: capitalize;
  font-weight: 600;
  transition: 0.25s ease;
}

.button:hover {
  background-color: var(--orange);
  color: var(--white);
  border-color: var(--orange);
}

.button:focus{
    background-color: var(--black);
    color: var(--orange);
    border-color: var(--orange);
}

@media(max-width: 425px){
  .button {
  padding: calc(var(--spacing) * 1) calc(var(--spacing) * 2);
}
}
