.calculator-wrapper{
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: calc(var(--spacing) * 20);
}

.number-input {
  appearance: none;
  outline: none;
  border: none;
  transition: 0.25s;
  background-color: var(--white);
  color: var(--black);
  padding-left: calc(var(--spacing) * 2);
}

.number-input[type="number"]::-webkit-inner-spin-button,
.number-input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.range {
  --progress: 50%;
  width: 100%;
  appearance: none;
  height: 4px;
  background: linear-gradient(
    to right,
    var(--green) 0%,
    var(--green) var(--progress),
    var(--white) var(--progress),
    var(--white) 100%
  );
  cursor: pointer;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  background: var(--orange);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -10px;
}

.range::-webkit-slider-runnable-track {
  height: 4px;
  background: linear-gradient(
    to right,
    var(--green) 0%,
    var(--green) var(--progress),
    var(--white) var(--progress),
    var(--white) 100%
  );
}

/* Firefox */
.range::-moz-range-track {
  height: 4px;
  background: var(--white);
}

.range::-moz-range-progress {
  height: 4px;
  background: var(--green);
}

.range-value {
  width: 24px;
  display: block;
}

.range-value p {
  width: fit-content;
  display: block;
  margin: 0 auto;
}

.range-value--active{
  color: var(--orange);
  font-weight: 500;
}