.footer{
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 0;
    display: flex;
    align-items: end;
    height: 210px;
    background-image: url(../assets/hero/hero-background.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__bottom {
    width: 100%;
    border-top: 2px solid var(--grey);
}