.reviews {
  background:
    linear-gradient(to right, transparent 0%, var(--black) 50%),
    url("../assets/reviews/review-background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.reviews-headline__element{
  position: relative;
}

.card {
  height: 478px;
}

.reviewsSwiper {
  width: 380px;
}

@media(max-width: 375px){
  .reviewsSwiper {
  width: 100%;
}

.card {
  height: 510px;
}
}

:global(.swiper-slide) {
  filter: blur(5px) brightness(0.5);
}

:global(.swiper-slide):nth-child(3n - 1) .card {
  background: var(--white);
}

:global(.swiper-slide):nth-child(3n) .card {
  background: var(--green);
}

:global(.swiper-slide):nth-child(3n + 1) .card {
  
  background: var(--orange);
}

:global(.swiper-slide):nth-child(3n - 1) .info {
  color: var(--green);
}

:global(.swiper-slide):nth-child(3n + 1) .info,
:global(.swiper-slide):nth-child(3n) .info {
  color: var(--white);
}

:global(.swiper-button-prev), :global(.swiper-button-next) {
  background-color: var(--green);
}

.button :global(svg){
  width: fit-content;
  height: 100%;
}

.button{
  background-color: var(--green);
  color: var(--white);
  transition: 0.25s;
}

.button:hover{
  background-color: var(--white);
  color: var(--green);
}

.button:active {
	animation: button-press 0.25s ease;
}

@keyframes button-press {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.96);
	}
	100% {
		transform: scale(1);
	}
}