---
import Header from "../components/header";
import Footer from "../components/footer";
import LenisProvider from '../components/lenis-provider';
import Loading from "../components/loading";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Pixum AI</title>
		<link rel="stylesheet" href="">
	</head>
	<LenisProvider  client:load >
	<body>
		<Header/>
		<slot />
		<Footer/>
	</body>
	</LenisProvider>
</html>

